@import 'styles/colors.scss';

.container {
  min-height: 100vh; 
  max-width: 36rem;
  padding: 0 1rem;
  margin: 0 auto;
  background: var(--theme-page-background); 
  display: flex;
  flex-direction: column;
}

.header {
  top: 0; 
  display: flex;
  padding: 2rem 0; 
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  height: 5rem; 
}

.main {
  flex: 1 1 auto;
  height: 100%; 
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem; 
}

.footer{
  height: 5rem; 
  border-top: 2px solid var(--foreground); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.navLinks {
  display: flex; 
  align-items: baseline;
  flex-direction: row; 

  a {
    color: var(--foreground);
    font-weight: bold; 
    font-size: 1.5rem; 
    margin-right: 1rem; 
  }

  a:hover {
    text-decoration: none; 
    font-weight: bolder; 
    color: var(--aqua); 
  }
}

.underline {
    text-decoration: none; 
    border-bottom: 5px solid var(--aqua);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--foreground);
  color: $dark; 
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--foreground);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--foreground);
}

input:checked + .slider:before {
  background-color: var(--background);
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.rightNav {
  display: flex;
  align-items: center; 
}

.icon {
  margin: 0 0.7rem 0 0; 
  color: var(--foreground);
}

#twitter:hover {
  color: var(--blue);
}

#youtube:hover {
  color: var(--red);
}

#github:hover {
  color: var(--grey);
}
