.card {
  height: fit-content;
  width: 100%;
  border: 5px solid var(--foreground); 
  box-shadow: 10px 10px 0 var(--foreground); 
  padding: 1.5rem; 
	display: flex;
  align-items: center;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  
}

.profileImage { 
  height: 200px;
  width: auto;
  border-radius: 50%; 
  margin: 1rem;
  border: 5px solid var(--foreground); 
}


.tags {
  display: flex;
	flex-wrap: wrap; 
	margin: 12px 2px; 
	width: 70%; 
}

.tagDisplay {
	display: inline-block; 
	align-items: baseline; 
}

.tag {
  height: 20px;
  margin: 0 0.5em 0 0;
  cursor: pointer;
}
.tagLight {
  filter: invert(88%) sepia(8%) saturate(1080%) hue-rotate(348deg) brightness(110%) contrast(97%);

}

.tagLine {
	display: flex;
	flex-direction: row;  
	align-items: baseline; 
	height: fit-content; 
}

.description {
	display: flex;
  align-items: baseline;
	flex-direction: column;
	width: 100%; 
}

.blog {
	margin: 3rem 0;
  border: 5px solid var(--foreground); 
  box-shadow: 10px 10px 0 var(--foreground); 
  height: fit-content;
  width: 100%;
  padding: 2rem; 
  display: flex;
	flex-direction: column;
  justify-content: center; 
  a {
    color: var(--blue); 
    font-weight: bold; 
		text-decoration: none; 
	}

	a:hover {
		text-decoration: none; 
		border-bottom: 5px solid var(--aqua); 
	}
	.date {
		color: var(--foreground2); 
	}
}

@media only screen and (max-width: 550px) {
	.card {
		flex-direction: column; 
		align-items: center; 
	}

  .flexRow {
    flex-direction: column;
    justify-content: flex-start;
  }

	.description {
		flex-direction: column; 
    align-items: baseline;
		margin: 0 0 2em 0; 
	}

	.profileImage { 
    display: none; 
	}
}
