.card {
  height: fit-content;
  width: 100%;
  border: 5px solid var(--foreground); 
  box-shadow: 10px 10px 0 var(--foreground); 
  display: flex;
	flex-direction: column; 
  align-items: center;
  justify-content: center; 
  padding: 2rem; 
	margin: 1rem 0 2rem 0; 
}


.buttons {
	display: flex;
	flex-direction: row-reverse; 

	.button {
		background-color: var(--background); 
		border: 2px solid var(--foreground); 
		box-shadow: 2px 2px 0 var(--foreground); 
		padding: 0.5rem; 
		a {
			color: var(--foreground);
		}
		a:hover {
			box-shadow: 0; 
		}
	}

}

.tags {
	display: flex; 
	align-items: center;
	width: 70%;
	flex-wrap: wrap; 

	.tag {
		color: var(--foreground); 
    height: 40px;
    margin: 0 1rem 0 0; 
	}

  .tagLight {
    filter: invert(88%) sepia(8%) saturate(1080%) hue-rotate(348deg) brightness(110%) contrast(97%);
  }

}

.title {
	font-size: 2rem; 
	font-weight: bold; 
}

.description {
	margin: 1rem 0; 
}

.bottom {
	display: flex;
	flex-direction: row; 
	width: 100%; 
	justify-content: space-between;
	align-items: center; 
}

.screenshot {
	border-bottom-left-radius: 1epx; 
	border-bottom-right-radius: 13px; 
}


@media only screen and (max-width: 650px) {
	.tags {
		flex-wrap: wrap; 
    
    .tag {
      margin: 0 1rem 1rem 0; 
    }
	}

	.bottom {
		flex-direction: column;
		align-items: baseline;
	}
	
}
