$dark: #282828;
$light: #fbf1c7;
$blue: #458588;
$blue-light: #83a598;
$red: #cc241d; 
$red-light: #fb4934; 
$aqua: #689d6a; 
$aqua-light: #8ec07c; 
$green: #98971a;
$green-light: #b8bb26; 
$yellow: #d79921;
$yellow-light: #fabd2f; 
$grey: #928374;
