$dark0: #282828;
$dark1: #504945;
$dark2: #7c6f64;
$dark3: #ebdbb2;
$light0: #fbf1c7;
$light1: #ebdbb2;
$light2: #d5c4a1;
$light3: #bfae93;
$grey: #928374;

$blue: #458588;
$blue-dark: #076678;
$blue-light: #83a598;

$red: #cc241d; 
$red-dark: #9d0006; 
$red-light: #fb4934; 

$aqua: #689d6a; 
$aqua-dark: #427b48; 
$aqua-light: #8ec07c; 

$green: #98971a;
$green-dark: #79740e; 
$green-light: #b8bb26; 

$yellow: #d79921;
$yellow-dark: #b57614; 
$yellow-light: #fabd2f; 

$orange: #d65d0e; 
$orange-dark: #af3a03; 
$orange-light: #fe8019; 

$purple: #b16286;
$purple-dark: #8f3f71; 
$purple-light: #d3869b;

