@import './colors'; 

:root {
  --background: white;
  --foreground: #{$dark}; 
  --aqua: #{$aqua}; 
  --blue: #{$blue}; 
  --red: #{$red}; 
  --grey: #{$grey};
  --green: #{$green};
	--yellow: #{$yellow}; 
}

[data-theme='dark'] {
  --background: #{$dark};
  --foreground: #{$light}; 
  --aqua: #{$aqua-light}; 
  --blue: #{$blue-light}; 
  --red: #{$red-light}; 
  --grey: #{$grey};
  --green: #{$green-light};
	--yellow: #{$yellow-light}; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--foreground);
  background: var(--background); 
  transition: all 0.20s linear; 
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
