@import './colors'; 

:root {
  --background: white;
	--background1: #{$light1}; 
	--background2: #{$light2}; 
	--background3: #{$light3}; 
  --foreground: #{$dark0}; 
  --foreground1: #{$dark1}; 
  --foreground2: #{$dark2}; 
  --foreground3: #{$dark3}; 
  --grey: #{$grey};

  --aqua: #{$aqua-dark};
  --aqua2: #{$aqua-light};
  --blue: #{$blue-dark};
  --blue2: #{$blue-light};
  --red: #{$red-dark};
  --red2: #{$red-light}; 
  --green: #{$green-dark};
  --green2: #{$green-light};
	--yellow: #{$yellow-dark};
	--yellow2: #{$yellow-light}; 
	--orange: #{$orange-dark};
	--orange2: #{$orange-light};
	--purple: #{$purple-dark};
	--purple2: #{$purple-light};
}

[data-theme='dark'] {
  --background: #{$dark0};
	--background1: #{$dark1}; 
	--background2: #{$dark2}; 
	--background3: #{$dark3}; 
  --foreground: #{$light0}; 
  --foreground1: #{$light1}; 
  --foreground2: #{$light2}; 
  --foreground3: #{$light3}; 
  --grey: #{$grey};

  --aqua: #{$aqua-light}; 
  --aqua2: #{$aqua-dark};
  --blue: #{$blue-light}; 
  --blue2: #{$blue-dark}; 
  --red: #{$red-light}; 
  --red2: #{$red-dark}; 
  --green: #{$green-light};
  --green2: #{$green-dark};
	--yellow: #{$yellow-light}; 
	--yellow2: #{$yellow-dark}; 
	--orange: #{$orange-light}; 
	--orange2: #{$orange-dark}; 
	--purple: #{$purple-light}; 
	--purple2: #{$purple-dark}; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--foreground);
  background: var(--background); 
  transition: all 0.20s linear; 
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
	color: var(--blue); 
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

pre, code  {
	font-family: "Source Code Pro", Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	padding: .1rem 0.3rem .1rem .3rem;
	border-radius: 6px;
	background: var(--foreground) !important;
	color: var(--background) !important; 

	.token.string {
		color: var(--aqua2)
	}

	.token.keyword {
		color: var(--green2)
	}

	.token.punctuation {
		 color: var(--background2);
	}

	.token.comment {
		 color: var(--foreground3);
	}

	.token.selector {
		color: var(--purple2);
	}

	.token.operator {
		color: var(--orange2);
	}
	 .token.variable {
		color: var(--blue2);
	 }
}
